doctype html
html
  head
    meta(charset='utf-8')
    title Styleguide
    link(rel='stylesheet' href=resolve('github-markdown.css'))
    link(rel='stylesheet' href=resolve('/styles/main.sss'))
    block head

  body(ng-app=constants.APP_NAME ng-strict-di)
    main.StyleguideAs
      aside.StyleguideAs_Sidebar
        header.StyleguideAs_Sidebar__Header
          h1.StyleguideAs_Sidebar__Heading
            a.StyleguideAs_Sidebar__HeadingLink(href=resolve()) StyleguideAs

        ul.StyleguideAs_TableOfContents
          for component in components
            li.StyleguideAs_TableOfContents__Item
              a.StyleguideAs_TableOfContents__Link(href=resolve(component.name))
                = component.name

      div.StyleguideAs_Content
        block body
    script(src='/app.js?t=' + Date.now())
